<div class="container-fluid">
  <form class="form-inline" role="form">
    <table style="border: 1px black solid">
      <tr>
        <td class="text-center"><label>Date</label></td>
        <td class="text-center"><label>Nature</label></td>
        <td class="text-center"><label>Montant</label></td>
        <td class="text-center"><label>Tiers</label></td>
        <td class="text-center"><label>Libellé</label></td>
        <td class="text-center"><label>Catégorie</label></td>
      </tr>
      <tr>
        <td><input type="text" class="form-control input-sm" style="width: 90px"></td>
        <td>
          <select class="form-control input-sm">
            <option>Débit</option>
            <option>Crédit</option>
          </select>
        </td>
        <td><input type="numeric" class="form-control input-sm" style="width: 110px"></td>
        <td>
          <select class="form-control input-sm" style="width: 140px">
            <option>Nouveau...</option>
            <option>Popo</option>
            <option>Mopo</option>
            <option>Jopo</option>
          </select>
        </td>
        <td><input type="text" class="form-control input-sm" style="width: 250px"></td>
        <td>
          <select class="form-control input-sm" style="width: 150px">
            <option>+root 1</option>
            <option>+root 2</option>
          </select>
        </td>
      </tr>
    </table>
  </form>
</div>
