<div id="tca_expense_editor" class="container-fluid">
  <div class="row">
    <div class="col-md-12" align="center">
    <form class="form-inline" role="form">
      <table>
        <tr>
          <td class="text-center"><label>Date</label></td>
          <td class="text-center"><label>Nature</label></td>
          <td class="text-center"><label>Montant</label></td>
          <td class="text-center"><label>Tiers</label></td>
          <td class="text-center"><label>Libellé</label></td>
          <td class="text-center"><label>Catégorie</label></td>
          <td class="text-center"><label>Edition</label></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control input-sm" style="width: 90px"></td>
          <td>
            <select data-bind="options: mvTypeList, value: mvType, optionsText: 'label'" class="form-control input-sm">
            </select>
          </td>
          <td><input type="numeric" class="form-control input-sm" style="width: 110px"></td>
          <td>
            <select class="form-control input-sm" style="width: 140px">
              <option>Nouveau...</option>
              <option>Popo</option>
              <option>Mopo</option>
              <option>Jopo</option>
            </select>
          </td>
          <td><input type="text" class="form-control input-sm" style="width: 250px"></td>
          <td>
            <select class="form-control input-sm" style="width: 150px">
              <option>+root 1</option>
              <option>+root 2</option>
            </select>
          </td>
          <td class="text-center">
            &nbsp;
            <input id="exedBtnSave" type="button" class="btn btn-xs btn-primary" name="btnSave"
              data-bind="value: btnSaveLabel, click: btnSaveClick"></button>
            <input id="exeBtnNew" type="button" class="btn btn-xs btn-success" name="btnNew"
              data-bind="value: btnNewLabel, click: btnNewClick"></button>
            <input id="exeBtnDelete" type="button" class="btn btn-xs btn-danger" name="btnDelete"
              data-bind="value: btnDeleteLabel, click: btnDeleteClick"></button>
            &nbsp;
          </td>
        </tr>
      </table>
    </form>
    </div>
</div>
</div>
