<div id="tca_expense_editor" class="container-fluid">
  <div class="row">
    <div class="col-md-12" align="center">
    <form class="form-inline" role="form">
      <table>
        <tr>
          <td class="text-center"><label data-bind="text: dateLabel"></label></td>
          <td class="text-center"><label data-bind="text: mvTypeLabel"></label></td>
          <td class="text-center"><label data-bind="text: amountLabel"></label></td>
          <td class="text-center"><label data-bind="text: thirdpartyLabel"></label></td>
          <td class="text-center"><label data-bind="text: descriptionLabel"></label></td>
          <td class="text-center"><label data-bind="text: categoryLabel"></label></td>
          <td class="text-center"><label>&nbsp;</label></td>
        </tr>
        <tr>
          <td><!-- date field -->
            <input type="date" class="form-control input-sm" style="width: 140px">
          </td>
          <td><!-- mv type field -->
            <select data-bind="options: mvTypeList, value: mvType, optionsText: 'label'" class="form-control input-sm">
            </select>
          </td>
          <td><input type="numeric" class="form-control input-sm" style="width: 110px"></td>
          <td>
            <select data-bind="options: thirdpartyList, value: thirdparty, optionsText: 'name'" class="form-control input-sm" style="width: 140px">
            </select>
          </td>
          <td><input type="text" class="form-control input-sm" style="width: 250px"></td>
          <td>
            <select class="form-control input-sm" style="width: 150px">
              <option>+root 1</option>
              <option>+root 2</option>
            </select>
          </td>
          <td class="text-center">
            &nbsp;
            <input id="exedBtnSave" type="button" class="btn btn-xs btn-primary" name="btnSave"
              data-bind="value: btnSaveLabel, click: btnSaveClick"></button>
            <input id="exeBtnNew" type="button" class="btn btn-xs btn-success" name="btnNew"
              data-bind="value: btnNewLabel, click: btnNewClick"></button>
            &nbsp;
          </td>
        </tr>
      </table>
    </form>
    </div>
</div>
</div>
